@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Lateef');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=Italianno');
body{
  margin: 0;
  padding: 0;
}
.navbar{
	background-color: #222222 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700px;
}
.navbar ul{
	padding:0;
}
.navbar a{
	color: #fff !important;
	opacity: 0.8;
	letter-spacing: 2.5px;

}
.navbar li{
	display: block !important;
	margin: 0;
	padding: 5px;

}
.navbar a:hover{
	opacity: 1;
	background-color: #7a991a !important;
	color: white !important;
}
.navbd{
	color: green !important;
}
.navbar .container-fliud{
	padding: 0 ! important;

}
.jbtxt p{
	font-size: 45px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
.service{
	padding: 50px ;
	margin-top: 20px;
	background-color: transparent !important;

}
.card{
	margin-right: 10px;
	height: 280px;
	background-color: black;
	transition: 3s;

}
.card:hover{
 transform: scale(1.1);
 box-shadow: 5px 10px 15px #888888;
}
.card-body button{
	font-weight: bold;
	justify-content: center;
}
.srhd h2{
	text-transform: uppercase;
	padding-top: 3%;
	text-align: center;
	color: black;
	font-family: 'Aclonica', sans-serif;
}
.srhd p{
	text-align: center;
	font-size: 25px;
	font-family: 'Lateef', cursive;
	
}
.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.1);
}
.card{
	margin-top: 30px;
	opacity: 1;
	border-radius: 15px;
	transition: 1.5s;
}

.card-body{
	text-transform: uppercase;
	
}
.card-body h1{
font-size: 25px;
font-weight: bold;
}
.card-body button{
	text-transform: uppercase;
	margin-left: 25%;
}


.fb{
	margin-top: 10px;
	background: url(pic3.jpg) fixed;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
}
.fb p{
	text-transform: capitalize;
	color: #7a991a;
	font-size: 40px;
	justify-content: center;
	padding-top: 20%;
	opacity: 1;
    font-family: 'Niconne', cursive;
}




.blog{
	background-color: #FFFFF0;

}
.blgtxt h2{
 text-transform: uppercase;
 font-family: 'Aclonica', sans-serif;
 padding-top: 5%;
}
.blgtxt p{
	font-size: 30px;
	font-family: 'Niconne', cursive;
}

.pt1 ul{
	width: 100%;

}
.pt1 li{
	justify-content: center;
	width: 25%;
	background-color: white;
}
.pt1 li:hover, .pt1 li:active{
	background-color: #7a991a;
	color: white;
}
.pt1 a:hover{
	
	color: white;
}

.pt1 a{
	font-size: 1.1rem;
	font-weight: 500;
	color: black;
	text-align: center;
	text-transform: uppercase;
}
.pt2 img{
	width: 100%;
	background-size: cover;
	min-height: 100px;
	padding-top: 3%;
	padding-bottom: 3%;

}
.pt2 h3{
	text-transform: uppercase;
	padding-top: 40px;
}
.pt2 p{
	padding-top: 4px;
	font-family: 'Dynalight', cursive;
	font-size: 25px;
}




.contact{
	padding: 50px 9px 80px;
	text-align: center;
	background-color: #E3E3E3;
}
.cntxt h2{
	text-transform: uppercase;
	font-family: 'Aclonica', sans-serif;
	color: black;
}
.cntxt p{
	font-size: 30px;
	font-family: 'Niconne', cursive;
	color: black;
}
.contact .input-group{
	margin-bottom: 25px;
}
.contact .form-control{
	border-radius: 0 ! important;
}
.contact span{
	border-radius: 0 ! important;

}
.cntpt{
	padding-top: 100px;
}
.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	background-color: red;
	color: #fff;
}
.contact .btn:hover{
	background-color: #a85959 !important;
	color: #fff !important;

}
.cnpt i{
	
	font-size: 35px;
	padding: 5px;
	justify-content: center;
	color: black;
}



.hotel{
	margin-top: : 50px;
	margin-bottom: 50px;
	padding: 50px 9px 80px;
	position: relative;
}
.ht1 h2{
	text-transform: uppercase;
	padding-top: 3%;
	text-align: center;
	color: black;
	font-family: 'Aclonica', sans-serif;
}
.ht1 p{
	text-align: center;
	font-size: 25px;
	font-family: 'Lateef', cursive;
	
}
.ht2{
	transform: scale(1);
}




.footer{
	padding: 30px;
	color: #cccccc;
	background-color: #222222;
}
#img1{
	width: 100%;
}
#img2{
	width: 100%;
}
#img3{
	width: 100%;
}
/* card service */
.car{
	padding-left: 30px 0px 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background-color: #f1effa;
	margin-top: 50px;
	box-shadow: 5px 10px 15px #888888;
}
.car .pic{
	display: inline-block;
	height: 150px;
	width: 145px;
	margin-bottom: 30px;
	z-index: 1;
	position: relative;
}
.car .pic:before{
	content: '';
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: #222222;
	position: absolute;
	bottom: 135%;
	left: 0;
	right: 0;
	transform: scale(3);
	transition: all .4s linear 0s;
}
.car:hover .pic:before{
	height: 100%;
}
.car .pic:after{
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #222222;
	position: absolute;
	left: 0;
	height: 0;
	z-index: -1;
}
.car .pic img{
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	margin-top: 30px;
	transition: all .4s linear 0s;
}
.car:hover .pic img{
	box-shadow: 0 0 0 14px #222222;
	transform: scale(0.7);
}
.car .tex h2{
	
	font-family: 'Aclonica', sans-serif;
	margin-bottom: 100px;
	font-size: 25px;
	text-transform: uppercase;
	transform: translate(-50,-50);
	text-transform: uppercase;
}
.car .bb{
	width: 100%;
	margin:0;
	padding:10px 0;
	background-color: #222222;
	position: absolute;
	bottom: -200px;
	left: 0;
	transition: all 0.4s ease 0s;
}
.car .bb button{
	background-color: white;
	color: black;
	font-weight: bold;
	font-size: 20px;
	text-transform: capitalize;
}
.car:hover .bb{
	bottom: 0;
}
