@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Lateef');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Niconne');
body{
  margin: 0;
  padding: 0;
}
.navbar{
	background-color: #222222 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700px;
}
.navbar ul{
	padding:0;
}
.navbar a{
	color: #fff !important;
	opacity: 0.8;
	letter-spacing: 2.5px;

}
.navbar li{
	display: block !important;
	margin: 0;
	padding: 5px;

}
.navbar a:hover{
	opacity: 1;
	background-color: #7a991a !important;
	color: white !important;
}
.navbd{
	color: green !important;
}
.navbar .container-fliud{
	padding: 0 ! important;

}
.jbtxt p{
	font-size: 45px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
.service{
	padding: 50px ;
	margin-top: 20px;
	background-color: transparent !important;

}
.card{
	outline-color: red;
}
.card-body button{
	font-weight: bold;
}
.srhd h2{
	text-transform: uppercase;
	padding-top: 3%;
	text-align: center;
	color: black;
	font-family: 'Aclonica', sans-serif;
}
.srhd p{
	text-align: center;
	font-size: 25px;
	font-family: 'Lateef', cursive;
	background-color: transparent;
}




.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.5);
}
.card{
	margin-top: 20px;
	opacity: 1;
	border-radius: 15px;
}
.card-body{
	text-transform: uppercase;
	
}
.card-body h1{
font-size: 25px;
font-weight: bold;
}
.card-body button{
	text-transform: uppercase;
	margin-left: 25%;
}


.fb{
	margin-top: 10px;
	background: url(pic1.jpg) fixed;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
}
.fb p{
	text-transform: capitalize;
	color: #7a991a;
	font-size: 40px;
	justify-content: center;
	padding-top: 20%;
	opacity: 1;
    font-family: 'Niconne', cursive;
}




.blog{
	background-color: #fff123;
}
.blgtxt h2{
 text-transform: uppercase;
 font-family: 'Aclonica', sans-serif;
 padding-top: 5%;
}
.blgtxt p{
	font-size: 30px;
	font-family: 'Niconne', cursive;
}
.bannu{
	border-radius: 15px;
	box-shadow: 0 5px 20px rgb(0,0,0,.3);
	z-index: 2;
	margin-bottom: 50px;
}
.bannu:hover{
transition: 0.5s;
opacity: 0.9;
}
.btn123{
	position: absolute;
	left: 70px;
	z-index: 3;
	opacity: 0;
}
.bannu:hover .btn123{
opacity: 1;
transform: translateY(100px);
transition: 0.5s;
}



.contact{
	padding: 50px 9px 80px;
	text-align: center;
	background-color: blue;
}
.cntxt h2{
	text-transform: uppercase;
	font-family: 'Aclonica', sans-serif;
	color: white;
}
.cntxt p{
	font-size: 30px;
	font-family: 'Niconne', cursive;
	color: white;
}
.contact .input-group{
	margin-bottom: 25px;
}
.contact .form-control{
	border-radius: 0 ! important;
}
.contact span{
	border-radius: 0 ! important;

}
.cntpt{
	padding-top: 100px;
}
.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	background-color: red;
	color: #fff;
}
.contact .btn:hover{
	background-color: #a85959 !important;
	color: #fff !important;

}
.footer{
	padding: 30px;
	color: #cccccc;
	background-color: #222222;
}
#img1{
	width: 100%;
}
#img2{
	width: 100%;
}
#img3{
	width: 100%;
}
