@import url('https://fonts.googleapis.com/css?family=Tangerine:700');
@import url('https://fonts.googleapis.com/css?family=Aclonica');
@import url('https://fonts.googleapis.com/css?family=Lateef');
@import url('https://fonts.googleapis.com/css?family=Merienda+One');
@import url('https://fonts.googleapis.com/css?family=Niconne');
@import url('https://fonts.googleapis.com/css?family=Dynalight');
@import url('https://fonts.googleapis.com/css?family=Italianno');
body{
  margin: 0;
  padding: 0;
}
.navbar{
	background-color: #333 !important;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', Arial, sans-serif;
	font-weight: 700px;
}

.navbar ul{
	padding:0;
}
.navbar a{
	color: #fff !important;
	opacity: 0.8;
	letter-spacing: 2.5px;

}
.navbar li{
	display: block !important;
	margin: 0;
	padding: 5px;

}
.navbar a:hover{
	opacity: 1;
	background-color: #7a991a !important;
	color: white !important;
}
.navbd{
	color: green !important;
}
.navbar .container-fliud{
	padding: 0 ! important;

}
.navbar-toggler{
	float: right!important;
	position: absolute;
	right: 5px !important;
	top:8px!important;	
}
#dwn ul{
	display: block!important;
}
#dwn li{
color: black!important;
display: block;
padding-top: 12px;
padding-left: 15px;

}
#dwn li a{
	color: black!important;
	font-weight: bold;
	font-size: 15px;
	letter-spacing: 0px;
	display: block!important;
}
#dwn li a:hover{
	color: #7a991a!important;
	background-color: white!important;
	text-decoration: none;
}
.jbtxt p{
	font-size: 45px;
    font-family: 'Tangerine', cursive;
    font-weight: bold;
}
.service{
	padding: 50px ;
	margin-top: 20px;
	background-color: transparent !important;

}
.srhd h2::before{
		content: '';
		background-color:#7a1342;
		height: 3px;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(45px);
	}
	.srhd h2::after{
		content: '';
		background-color: #7a1342;
		height: 8px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(0.9px);
	}
.card{
	margin-right: 10px;
	height: 280px;
	background-color: black;
	transition: 3s;

}
.card:hover{
 transform: scale(1.1);
 box-shadow: 5px 10px 15px #888888;
}
.card-body button{
	font-weight: bold;
	justify-content: center;
}
.srhd h2{
	text-transform: uppercase;
	padding-top: 3%;
	text-align: center;
	color: black;
	font-family: 'Aclonica', sans-serif;
}
.srhd p{
	text-align: center;
	font-size: 25px;
	font-family: 'Lateef', cursive;
	
}

.blgtxt h2::before{

		content: '';
		background-color:#7a1342;
		height: 3px;
		width: 220px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(44px);
	}
	.blgtxt h2::after{
		content: '';
		background-color: #7a1342;
		height: 8px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(0.9px);
	}

	.cntxt h2::before{
		content: '';
		background-color:#7a1342;
		height: 3px;
		width: 130px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(44px);
	}

	.cntxt h2::after{
		content: '';
		background-color: #7a1342;
		height: 8px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(0.9px);
	}

.inner{
	overflow: hidden;
}
.inner img{
	transition: all 1.5s ease;
}
.inner:hover img{
	transform: scale(1.1);
}
.card{
	margin-top: 30px;
	opacity: 1;
	border-radius: 15px;
	transition: 1.5s;
}

.card-body{
	text-transform: uppercase;
	
}
.card-body h1{
font-size: 25px;
font-weight: bold;
}
.card-body button{
	text-transform: uppercase;
	margin-left: 25%;
}


.fb{
	margin-top: 10px;
	background: url(pic3.jpg) fixed;
	background-repeat: no-repeat;
	width: 100%;
	min-height: 100vh;
	background-size: cover;
}
.fb p{
	text-transform: capitalize;
	color: #7a991a;
	font-size: 40px;
	justify-content: center;
	padding-top: 20%;
	opacity: 1;
    font-family: 'Niconne', cursive;
}




.blog{
	background-color: #FFFFF0;

}
.blgtxt h2{
 text-transform: uppercase;
 font-family: 'Aclonica', sans-serif;
 padding-top: 5%;
}
.blgtxt p{
	font-size: 30px;
	font-family: 'Niconne', cursive;
}

.pt1 ul{
	width: 100%;

}
.pt1 li{
	justify-content: center;
	width: 25%;
	background-color: white;
}
.pt1 li:hover, .pt1 li:active{
	background-color: #7a991a;
	color: white;
}
.pt1 a:hover{
	
	color: white;
}

.pt1 a{
	font-size: 1.1rem;
	font-weight: 500;
	color: black;
	text-align: center;
	text-transform: uppercase;
}
.pt2 img{
	width: 100%;
	background-size: cover;
	min-height: 100px;
	padding-top: 3%;
	padding-bottom: 3%;

}
.pt2 h3{
	text-transform: uppercase;
	padding-top: 40px;
}
.pt2 p{
	padding-top: 4px;
	font-family: 'Dynalight', cursive;
	font-size: 25px;
}




.contact{
	padding: 50px 9px 80px;
	text-align: center;
	background-color: #E3E3E3;
}
.cntxt h2{
	text-transform: uppercase;
	font-family: 'Aclonica', sans-serif;
	color: black;
}
.cntxt p{
	font-size: 30px;
	font-family: 'Niconne', cursive;
	color: black;
}
.contact .input-group{
	margin-bottom: 25px;
}
.contact .form-control{
	border-radius: 0 ! important;
}
.contact span{
	border-radius: 0 ! important;

}
.cntpt{
	padding-top: 100px;
}
.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 15px;
	text-transform: uppercase;
	background-color: red;
	color: #fff;
}
.contact .btn:hover{
	background-color: #a85959 !important;
	color: #fff !important;

}
.cnpt i{
	
	font-size: 35px;
	padding: 5px;
	justify-content: center;
	color: black;
}



.hotel{
	margin-top: : 50px;
	margin-bottom: 50px;
	padding: 50px 9px 80px;
	position: relative;
}
.ht1 h2{
	text-transform: uppercase;
	padding-top: 3%;
	text-align: center;
	color: black;
	font-family: 'Aclonica', sans-serif;
}
.ht1 p{
	text-align: center;
	font-size: 25px;
	font-family: 'Lateef', cursive;
	
}
.ht2{
	transform: scale(1);
}




.footer{
	padding: 30px;
	color: #cccccc;
	background-color: #222222;
}
.footer h4{
	color: darkred;
	padding-bottom: 15px;
	font-size: 25px;
}

.footer p{
	text-align: center;
	padding: 0 0;
}
.fth{
	padding-left: 0px!important;
}
.ftgp1{
	
	padding-left: 16%;
}
.ftgp2{
	justify-content: center;
	padding-left: 15%
}
.ftgp1 h4::before{
		content: '';
		background-color:#fff;
		height: 2px;
		width: 90px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(41px);
	}
.ftgp2 h4::before{
		content: '';
		background-color:#fff;
		height: 2px;
		width: 55px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(41px);
	}
#img1{
	width: 100%;
}
#img2{
	width: 100%;
}
#img3{
	width: 100%;
}
/* card service */
.car{
	padding-left: 30px 0px 40px;
	overflow: hidden;
	position: relative;
	text-align: center;
	background: linear-gradient(to bottom, rgba(0,128,0,0.3) -30%, #ffffff 100%);
	margin-top: 50px;
	box-shadow: 5px 10px 15px #888888;
}
.car .pic{
	display: inline-block;
	height: 150px;
	width: 145px;
	margin-bottom: 30px;
	z-index: 1;
	position: relative;
}
.car .pic:before{
	content: '';
	width: 100%;
	height: 0;
	border-radius: 50%;
	background-color: rgb(0,0,0,0.85);
	position: absolute;
	bottom: 135%;
	left: 0;
	right: 0;
	transform: scale(3);
	transition: all .4s linear 0s;
}
.car:hover .pic:before{
	height: 100%;
}
.car .pic:after{
	content: '';
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: rgb(0,0,0,0.85);
	position: absolute;
	left: 0;
	height: 0;
	z-index: -1;
}
.car .pic img{
	width: 100%;
	height: auto;
	border-radius: 50%;
	transform: scale(1);
	margin-top: 30px;
	transition: all .4s linear 0s;
}
.car:hover .pic img{
	box-shadow: 0 0 0 14px rgb(0,0,0,0.85);
	transform: scale(0.7);
}
.car .tex h2{
	
	font-family: 'Aclonica', sans-serif;
	margin-bottom: 100px;
	font-size: 25px;
	text-transform: uppercase;
	transform: translate(-50,-50);
	text-transform: uppercase;
}
.car .bb{
	width: 100%;
	margin:0;
	padding:10px 0;
	background-color: rgba(0,0,0,0.85);
	position: absolute;
	bottom: -250px;
	left: 0;
	transition: all 0.4s ease 0s;
}

.car .bb a{
	border:2px solid white;
	color: black;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	list-style-type: none;
	text-decoration: none;
	color: white;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 600;
	color: none;
	font-size: 20px;
	text-transform: capitalize;
}
.car:hover .bb{
	bottom: 0;
}
@media (max-width: 480)
{
	.card{
		padding-left: 50px!important;
		margin-left: 70px!important;
		

	}
}



/*modal login*/
:root {
  --modal-duration: 1s;
  --modal-color: #e8491d;
}

.mdlg h2{
	color: black;
}



.modal {
	display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  margin: 10% auto !important;
  width: 50%!important;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17)!important;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
}

.modal-header h2,
.modal-footer a {
  margin: 0;
  font-family: 'Aclonica', sans-serif;
  padding-right: 35%!important;
  
}

.modal-header {
  background: var(--modal-color);
  padding: 15px!important;
  color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  padding: 10px 20px;
  background: #fff;
}

.modal-footer {
  background: var(--modal-color);
  padding: 10px;
  color: #fff;
  text-align: center!important;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.close {
  color: #ccc;
  float: right;
  font-size: 35px!important;
  color: #000;
  padding-right: 20px;
}

.close:hover,
.close:focus {
  color: #fff!important;
  text-decoration: none;
  cursor: pointer;
}

#mdlgbtn{
	width: 100%;
	height: 35px;
	border: 1px solid #e8491d;
	padding-top: 2px;
	margin-top: 4%;
	color: #e8491d;
	font-weight: 600;
	border-radius: 0;
	font-size: 20px;
	text-transform: uppercase;
}
.#mdlgbtn:hover{
	color: white;
	background-color:red!important;
}
.modal-footer a{
	text-decoration: none;
	font-size: 16px;
	font-weight: 300!important;
	text-align: center;
	color: white;
}
.modal-footer a:hover,
.modal-footer a:focus{
	text-decoration: none;
	font-size: 16px;
	color: white;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*login page */

}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
}
.login-box h1{
  float: left;
  font-size: 40px;
  color: #e8491d;
  font-family: sans-serif;
  border-bottom: 3px solid #e8491d;
  margin-bottom: 50px;
  padding: 13px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #e8491d;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #e8491d;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
@media (max-width: 580px){

	#nav1 ul{
		background-color: transparent!important;
		margin-left: 0px!important;

	
	}
	#nav1 li{
		padding-left: 25px;
	}
	#nav1 ul li a:hover{
		color:#7a991a!important;
		background-color: transparent!important;
		font-size: 18px;
		font-weight: 550;

	}
	#dwn li{
		background-color: #fff!important;
	}
	.navbd a{
		color: red!important;
		font-size: 23px!important;
		font-weight: 550;
	}
	
	.navbd a:hover{
		color: red!important;
		background-color: transparent!important;

	}
	.fth{
		color: red!important;
	}
	.ftd h4{
		margin-top: 30px;
	}
	#blog{
		padding-top: 100px;
		padding-left: 20px;
		padding-right: 20px
	}

	.blgtxt p{
		padding-top: 5px;
		font-size: 23px;
	}
	.pt1 li{
		margin-top: 30px;
	}
	.pt1 li a{
		font-size: 15px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.pt2 h3{
		color: darkred;
	}

	.jbtxt p{
		font-size: 30px;
	}
	#service h2{
		padding-top: 5px;

	}

	.srhd h2::before{
		content: '';
		background-color:#7a1342;
		height: 3px;
		width: 120px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(45px);
	}
	.srhd h2::after{
		content: '';
		background-color: #7a1342;
		height: 8px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(0.9px);
	}
	.srhd p{
		font-size: 20px;
		padding-top: 35px;
	}


	.fb{
		margin-top: 10px;
		background: url(pic3.jpg) fixed;
		background-repeat: no-repeat;
		background-size: cover;
		padding-left: 0px;
		margin-left: 0px;
		width: 100%;
		min-height: 60vh;
	}




	.blgtxt h2::before{

		content: '';
		background-color:#7a1342;
		height: 3px;
		width: 220px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(44px);
	}
	.blgtxt h2::after{
		content: '';
		background-color: #7a1342;
		height: 8px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(0.9px);
	}

	.cntxt h2::before{
		content: '';
		background-color:#7a1342;
		height: 3px;
		width: 130px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(44px);
	}

	.cntxt h2::after{
		content: '';
		background-color: #7a1342;
		height: 8px;
		width: 40px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(0.9px);
	}

	.cntxt p{

		font-size: 25px;
	}
	.cnpt input{
		width: 55%;
		height: 35px!important;
		margin-top: 0px !important;
	}
	#inp2{
		margin-top: 0px!important;
	}


	.ftgp1 h4{
		justify-content: center;
		
		
	}
	.ftgp1 p{
		justify-content: center;
	}
	.ftgp1 h4::before{
		content: '';
		background-color:#fff;
		height: 2px;
		width: 80px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(41px);
	}
	.ftgp2 h4{
		margin-top: 30px;
		padding-left: 80px!important;
		
	}
	.ftgp2 p{
		padding-left: 80px;
	
	}
	.ftgp2 h4::before{
		content: '';
		background-color:#fff;
		height: 2px;
		width: 55px;
		margin-left: auto;
		margin-right: auto;
		display: block;
		transform: translateY(41px);
	}
	
	.modal-content {
		  margin: 30% auto !important;
		  width: 75%!important;
		  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17)!important;
		  animation-name: modalopen;
		  animation-duration: var(--modal-duration);
		}
	.modal-header h2{
		padding-top: 20px;
		padding-left: 10px; 
	  margin: 0;
	  font-family: 'Aclonica', sans-serif;
	  padding-right: 35%!important;
	  font-size: 25px;
	}
	.modal-footer a{
	text-decoration: none;
	font-size: 13px;
	font-weight: 300!important;
	color: white;
	padding-left: 25%;
	}
	.modal-footer a:hover,
	.modal-footer a:focus{
		text-decoration: none;
		font-size: 13px;
		color: white;
	}
}
